exportPattern("^[[:alpha:]]+")

S3method(print, summary.recEvFit)
S3method(summary, recEvFit)

# Import all packages listed as Imports or Depends
import(
  COMPoissonReg, matrixStats, stringi
)

importFrom("COMPoissonReg", "glm.cmp")
importFrom("matrixStats", "rowMedians")
importFrom("survival", "Surv")
importFrom("stats", "coef", "model.matrix", "model.response",
             "na.omit", "rnorm", "runif", "vcov")
importFrom("stringi", "stri_extract_all_words")
importFrom("stats", "AIC", "coefficients", "logLik")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
